In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
closedLostOpps = pd.read_csv('oppDataClosedLost.csv')

In [3]:
closedWonOpps = pd.read_csv('oppDataClosedWon.csv')

In [4]:
df = pd.concat([closedLostOpps, closedWonOpps], axis=0)

In [5]:
df.shape

(2000, 737)

In [6]:
nan_cols = [i for i in df.columns if df[i].isnull().all()]

In [7]:
len(nan_cols)

198

In [8]:
df.drop(nan_cols,axis=1,inplace=True)

In [9]:
df.shape

(2000, 539)

In [10]:
perc = 30.0
min_count =  int(((100-perc)/100)*df.shape[0] + 1)
mod_df = df.dropna( axis=1, 
                thresh=min_count,inplace=True)

In [11]:
df.shape

(2000, 236)

In [12]:
for col in df.columns:
    print(col)

APEX_PARTNER_REBATE_PROGRAM__C
APTS_ACCOUNT_ELIGIBLE__C
APTS_AGREEMENT_GUIDANCE__C
APTS_AGREEMENT_NOT_NEEDED__C
APTS_APTTUS_OPPORTUNITY__C
APTS_BU_GUIDANCE_RECEIVED__C
APTS_CHECK_COMPLIANCE_UPDATED__C
APTS_ISSYSTEMSINTEGRATOR__C
APTS_NAT_APPROVAL_VERSION__C
APTS_OWNER_REGION__C
APTS_QUOTENOTNEEDED__C
APTS_SHOWVALIDATEMESSAGE__C
APTS_TOTAL_BU_SPLIT__C
ACCOUNTID
ACCOUNTKEY__C
ACCOUNTOWNER__C
AGE_IN_DAYS__C
AGE_OF_OPPORTUNITY__C
AMOUNT
AMOUNTTEXT__C
AMOUNT_FOR_SKUID__C
ANNUAL_THRESHOLD_EXCEPTION__C
AUTO_CLOSE_ELIGIBLE__C
BIGMACHINES__LINE_ITEMS__C
BILLING_AMOUNTMISMATCH__C
BILLING_CITY__C
BILLING_COUNTRY__C
BILLING_STATE__C
BILLING_STREET__C
BILLING_ZIP__C
BUDGET__C
BUSINESSDAYSINENGAGEMENT__C
CANADIAN_FEDERAL_GOVERNMENT__C
CHINA_CAT__C
CHINA_LOA__C
CLAIM__C
CLOSEDATE
CLOSE_DATE_MOVED__C
CLOSE_MONTH_NUM__C
CLOSE_OPPORTUNITY_REQUESTED_BY_PARTNER__C
COMPETITIVE_DEAL__C
CONTRACT_DATES_ALIGNED__C
COUNTRY_OF_ORDER_FORMULA__C
COUNTRY_OF_ORDER__C
CREATEDBYID
CREATEDDATE
CREATED_DATE_COMPARED_TO_CLOSE_DATE__C
CREATED_BY_DIRECT_SALES__C
CREDITCHECKED__C
CURRENCYISOCODE
CURRENT_USER_OF_PRODUCT_LINE__C
CUSTOMER_DASHBOARDS__C
CUSTOMER_ENGAGEMENT_CENTER__C
DATA_SCIENCE_PROBABILITY_OPTION_1__C
DATA_SCIENCE_PROBABILITY_OPTION_2__C
DATA_SCIENCE_PROBABILITY_OPTION_3__C
DATE_BOOKED_CHANGED__C
DATE_SUBMITTED_CHANGED__C
DAY_OF_WEEK_NUM__C
DAY_OF_WEEK__C
DAYS_LEFT_UNTIL_EXPIRE__C
DAYS_UNTIL_CLOSE_DATE__C
DEAL_FORWARD__C
DEAL_REGISTRATION_EXPIRED__C
DEAL_REGISTRATION_FED_SLED__C
DEAL_REGISTRATION__C
DECISION__C
DESCRIPTION_OF_PRODUCT_LINES__C
DIFF_BW_EXPIRING_PRODUCT_AND_OPP_TOTAL__C
DIGITAL_RENEWAL_AMOUNT_USD__C
DIGITAL_RENEWAL_OPPORTUNITY__C
DIGITAL_RENEWAL_QUOTE_GENERATED__C
DIGITAL_TRANSFORMATION__C
DISTRIBUTOR_ANNUAL_PAY_PROGRAM__C
DO_NOT_PUBLISH_TO_BUS_ACCOUNT__C
DO_NOT_PUBLISH_TO_BUS__C
ELQ_USD_AMT__C
EMEA_SE_REQUIRED__C
EMBEDDED__C
EXPECTEDREVENUE
EXPECTED_SYB_OPP__C
EXPIRING_PRODUCTS_TOTAL_AMOUNT_ROLLUP__C
EXPIRING_PRODUCTS_TOTAL_AMOUNT__C
EXTENDED_TOTAL_PRICE__C
FISCAL
FISCALQUARTER
FISCALYEAR
FISCAL_QUARTER_YEAR__C
FISCAL_QUARTER__C
FISCAL_YEAR__C
FORECASTCATEGORY
FORECASTCATEGORYNAME
FORECAST_INTERVAL__C
FRAMEWORK_ON_FILE__C
FULFILLMENTCHANNEL__C
FULL_OPPORTUNITY_PLAN_CHECKBOX__C
FULL_OPPORTUNITY_PLAN_TEMPLATE__C
GRAND_TOTAL_SKU_PRICE__C
HASOPENACTIVITY
HASOPPORTUNITYLINEITEM
HASOVERDUETASK
IBM_OPPORTUNITY__C
ID
INITIAL_OPPORTUNITY_PLAN_CHECKBOX__C
INITIAL_OPPORTUNITY_PLAN_TEMPLATE__C
INNOVATION_LABS_BOOKING_AMOUNT__C
INTERCOMPANY_BOOKING__C
ISATTACHEDTOEXISTING__C
ISCLOSED
ISDELETED
ISEXCLUDEDFROMTERRITORY2FILTER
ISLOCKEDFORSALES__C
ISOWNERLOOKUPCURRENT__C
ISPRIVATE
ISRENEWALMISSING__C
ISSPLIT
ISSTAGINGREFERRED__C
ISWON
IS_NEXT_STEP_POPULATED__C
IS_PAR__C
IS_PULLAHEAD__C
JBOSS_PRODUCT_OPP2__C
LASTMODIFIEDBYID
LASTMODIFIEDDATE
LASTSTAGECHANGEDATE
LEANDATA__DAYS_TO_CLOSE__C
LEGACY_PROFILE__C
MARKET_DEV_CREATED_OPP__C
MARKET_DEV_OPP_AMOUNT_CONVERTED_USD__C
NFR_QUANTITY__C
NAME
NEW_BUSINESS__C
NEXT_STEPS_POPULATED__C
NOTIFY_BILLING__C
NOTIFY_CREDIT__C
NOTIFY_ORDER_ENTRY__C
NUMBER_OF_CONSULTING_FP_PRODUCTS__C
NUMBER_OF_CONSULTING_PRODUCTS__C
NUMBER_OF_OPPORTUNITIES__C
OM_REVIEW_COMPLETE__C
OPP_OWNER_DIFFERS_FROM_ACCT_OWNER__C
OPPORTUNITYNUMBER__C
OPPORTUNITY_COMPLETENESS_STATUS__C
OPPORTUNITY_ID__C
OPPORTUNITY_AMOUNT_MISMATCH_FLAG__C
ORIGINAL_OPP_CONTAINS_OTD__C
ORIGINAL_TO_RENEWAL_COUNTRY_COMPARE__C
OVERRIDE_AUTO_CLOSE__C
OWNERID
OWNER__C
POC_APPROVED_BY_BU_MANAGEMENT__C
POC_APPROVED_BY_SA_MANAGEMENT__C
POC_ASSIGNED_BY_SA_MANAGEMENT__C
POC_PAID_OPPORTUNITY_COUNT__C
POC_PAID__C
POC_SUBMIT_FOR_BU_APPROVAL__C
PARTNER_CREATED__C
PARTNER_MULTIPLIER__C
PAY_NO__C
PAYMENTTYPE__C
PENDING_OM_REVIEW__C
PERCENT_OF_CREDIT_LIMIT__C
PREVIOUS_RED_HAT_CONSULTING_INVOLVEMENT__C
PRICEBOOK2ID
PROBABILITY
PRODUCTSWITHOUTCONTRACTNUMBERCOUNT__C
PROJECT_BUDGETED__C
PULLAHEAD_REPORT_IDENTIFIER__C
PUSHCOUNT
RECORDTYPEID
RECORDTYPE__C
RED_HAT_TOTAL_REVENUE__C
REGION2__C
REGION__C
REGION_OF_ORDER__C
REMINDER__C
RENEWAL_OPPORTUNITY__C
REPROCESS__C
REQUIRE_POC_APPROVAL_CLOUD_RHEV__C
REQUIRE_POC_APPROVAL_GPS__C
REQUIRE_POC_APPROVAL_GSS__C
REQUIRE_POC_APPROVAL_MIDDLEWARE__C
REQUIRE_POC_APPROVAL_PLATFORM__C
REQUIRE_POC_APPROVAL_STORAGE__C
RISK_RATING__C
ROYALTY_OPP_LOCKED__C
RUSH_ORDER_SET_BY_SYSTEM__C
RUSH_ORDER__C
SSI_IN_SCOPE__C
SEND_NOTIFICATION_TO_OPP_OWNER__C
SENDINGMEDIA__C
SERVICES_RISK_REVIEW__C
SET_AS_DEFAULT_PROFILE__C
STAGENAME
SYSTEMMODSTAMP
TIMETILLORDERBOOKED__C
TIME__C
TODAY_FISCAL_QUARTER_YEAR__C
TOTALAMOUNT__C
TOTALOPPORTUNITYQUANTITY
TOUCHED__C
TRIAGE_OPPORTUNITY__C
TRUE_UP__C
UPGRADE_REMIX__C
VOUPDATE__C
VALUE_SELLING_STAGE__C
VIEW_FORWARDED_LEAD__C
VO_STATUS_MSG__C
YEAR1AMOUNTAUTO__C
YEAR1AMOUNTTEXT__C
YEAR1AMOUNT__C
YEAR2AMOUNTAUTO__C
YEAR2AMOUNTTEXT__C
YEAR2AMOUNT__C
YEAR3AMOUNTAUTO__C
YEAR3AMOUNTTEXT__C
YEAR3AMOUNT__C
YEAR4AMOUNTAUTO__C
YEAR4AMOUNTTEXT__C
YEAR4AMOUNT__C
YEAR5AMOUNTAUTO__C
YEAR5AMOUNTTEXT__C
YEAR5AMOUNT__C
YEAR6AMOUNTAUTO__C
YEAR6AMOUNTTEXT__C
YEAR6AMOUNT__C
CHECK_AMOUNT_MISMATCH__C
FROMRENEWAL__C
ISONSALEHOLD__C
ISRENEWED__C
OF_EXPIRING_PRODUCTS__C
PSE__ISPARENTOPPORTUNITYSERVICES__C
PSE__IS_CHANGE_REQUEST__C
PSE__IS_SERVICES_OPPORTUNITY__C
PSE__SERVICES_ATTACHED_FROM_PRODUCTS__C
PSE__SERVICES_ATTACHED_PERCENT_FROM_PRODUCTS__C

In [13]:
new_df=df[['OF_EXPIRING_PRODUCTS__C','PRICEBOOK2ID','APTS_ACCOUNT_ELIGIBLE__C','APTS_AGREEMENT_GUIDANCE__C','NEXT_STEPS_POPULATED__C','FULFILLMENTCHANNEL__C','PAYMENTTYPE__C','COUNTRY_OF_ORDER__C','RECORDTYPE__C','AMOUNT','REGION__C','STAGENAME','DATA_SCIENCE_PROBABILITY_OPTION_1__C','BILLING_AMOUNTMISMATCH__C','CLOSE_DATE_MOVED__C']]

In [14]:
new_df.shape

(2000, 15)

####

In [15]:
new_df.dtypes

OF_EXPIRING_PRODUCTS__C                   int64
PRICEBOOK2ID                             object
APTS_ACCOUNT_ELIGIBLE__C                   bool
APTS_AGREEMENT_GUIDANCE__C               object
NEXT_STEPS_POPULATED__C                    bool
FULFILLMENTCHANNEL__C                    object
PAYMENTTYPE__C                           object
COUNTRY_OF_ORDER__C                      object
RECORDTYPE__C                            object
AMOUNT                                  float64
REGION__C                                object
STAGENAME                                object
DATA_SCIENCE_PROBABILITY_OPTION_1__C     object
BILLING_AMOUNTMISMATCH__C                  bool
CLOSE_DATE_MOVED__C                        bool
dtype: object

In [16]:
new_df.APTS_ACCOUNT_ELIGIBLE__C.unique()

array([ True, False])

In [17]:
new_df.NEXT_STEPS_POPULATED__C.unique()

array([ True])

In [18]:
new_df.BILLING_AMOUNTMISMATCH__C.unique()

array([False,  True])

In [19]:
new_df.CLOSE_DATE_MOVED__C.unique()

array([ True, False])

In [20]:
new_df['APTS_ACCOUNT_ELIGIBLE__C'] = new_df['APTS_ACCOUNT_ELIGIBLE__C'].astype(int)

C:\Users\DELL\AppData\Local\Temp/ipykernel_8468/1951485365.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['APTS_ACCOUNT_ELIGIBLE__C'] = new_df['APTS_ACCOUNT_ELIGIBLE__C'].astype(int)

In [21]:
new_df['NEXT_STEPS_POPULATED__C'] = new_df['NEXT_STEPS_POPULATED__C'].astype(int)

C:\Users\DELL\AppData\Local\Temp/ipykernel_8468/1029670678.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['NEXT_STEPS_POPULATED__C'] = new_df['NEXT_STEPS_POPULATED__C'].astype(int)

In [22]:
new_df['BILLING_AMOUNTMISMATCH__C'] = new_df['BILLING_AMOUNTMISMATCH__C'].astype(int)

C:\Users\DELL\AppData\Local\Temp/ipykernel_8468/953175282.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['BILLING_AMOUNTMISMATCH__C'] = new_df['BILLING_AMOUNTMISMATCH__C'].astype(int)

In [23]:
new_df['CLOSE_DATE_MOVED__C'] = new_df['CLOSE_DATE_MOVED__C'].astype(int)

C:\Users\DELL\AppData\Local\Temp/ipykernel_8468/3872598482.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['CLOSE_DATE_MOVED__C'] = new_df['CLOSE_DATE_MOVED__C'].astype(int)

In [24]:
new_df.dtypes

OF_EXPIRING_PRODUCTS__C                   int64
PRICEBOOK2ID                             object
APTS_ACCOUNT_ELIGIBLE__C                  int32
APTS_AGREEMENT_GUIDANCE__C               object
NEXT_STEPS_POPULATED__C                   int32
FULFILLMENTCHANNEL__C                    object
PAYMENTTYPE__C                           object
COUNTRY_OF_ORDER__C                      object
RECORDTYPE__C                            object
AMOUNT                                  float64
REGION__C                                object
STAGENAME                                object
DATA_SCIENCE_PROBABILITY_OPTION_1__C     object
BILLING_AMOUNTMISMATCH__C                 int32
CLOSE_DATE_MOVED__C                       int32
dtype: object

In [25]:
new_df.drop(['APTS_AGREEMENT_GUIDANCE__C'],axis=1,inplace=True)

c:\users\dell\appdata\local\programs\python\python39\lib\site-packages\pandas\core\frame.py:4901: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [26]:
new_df.FULFILLMENTCHANNEL__C.value_counts()

Direct - End Customer                     610
Distributor                               418
Indirect - VAR/VAD                        273
Direct End Customer                       167
Indirect – Webstore                        87
Direct – OEM                               79
Direct - DLT                               73
Webstore                                   67
OEM                                        57
Direct Reseller                            53
Indirect – OEM Preload                     52
Cloud Service Provider                     20
Direct - VAR/VAD                           19
Direct - Carahsoft                         14
Direct - GTSI                               9
Indirect - Internal Commissions Credit      2
Name: FULFILLMENTCHANNEL__C, dtype: int64

In [27]:
new_df.PAYMENTTYPE__C.value_counts()

Purchase Order          1060
Channel Fulfillment      363
Credit Card              180
NA Purchase Order        140
Pre-Pay                   90
EMEA Purchase Order       75
APAC Purchase Order       32
LATAM Purchase Order      15
Name: PAYMENTTYPE__C, dtype: int64

In [28]:
new_df.dtypes

OF_EXPIRING_PRODUCTS__C                   int64
PRICEBOOK2ID                             object
APTS_ACCOUNT_ELIGIBLE__C                  int32
NEXT_STEPS_POPULATED__C                   int32
FULFILLMENTCHANNEL__C                    object
PAYMENTTYPE__C                           object
COUNTRY_OF_ORDER__C                      object
RECORDTYPE__C                            object
AMOUNT                                  float64
REGION__C                                object
STAGENAME                                object
DATA_SCIENCE_PROBABILITY_OPTION_1__C     object
BILLING_AMOUNTMISMATCH__C                 int32
CLOSE_DATE_MOVED__C                       int32
dtype: object

In [29]:
new_df.drop(['DATA_SCIENCE_PROBABILITY_OPTION_1__C'],axis=1,inplace=True)
new_df.head()

,OF_EXPIRING_PRODUCTS__C,PRICEBOOK2ID,APTS_ACCOUNT_ELIGIBLE__C,NEXT_STEPS_POPULATED__C,FULFILLMENTCHANNEL__C,PAYMENTTYPE__C,COUNTRY_OF_ORDER__C,RECORDTYPE__C,AMOUNT,REGION__C,STAGENAME,BILLING_AMOUNTMISMATCH__C,CLOSE_DATE_MOVED__C
0,0,01s60000000EUnsAAG,1,1,Distributor,Purchase Order,United States,"NA Fed Sled [<a href=""/apex/RecordTypeSelect?e...",106000.0,US,Closed Lost,0,1
1,0,01s60000000EUnsAAG,1,1,Distributor,Purchase Order,United States,"NA Fed Sled [<a href=""/apex/RecordTypeSelect?e...",300000.0,US,Closed Lost,0,1
2,10,01s60000000EUnsAAG,1,1,Distributor,Purchase Order,United States,"NA Fed Sled [<a href=""/apex/RecordTypeSelect?e...",NaN,US,Closed Lost,0,1
3,1,01s60000000EUnsAAG,1,1,Distributor,Purchase Order,Japan,"Renewal [<a href=""/apex/RecordTypeSelect?ent=O...",70590.0,Japan,Closed Lost,0,0
4,0,01s60000000EUnsAAG,1,1,Direct End Customer,Purchase Order,Netherlands,"EMEA Sales Opportunity [<a href=""/apex/RecordT...",141439.6,NWE,Closed Lost,0,1

In [30]:
lst = list(new_df['RECORDTYPE__C'])

In [31]:
lst[0].split('[')[0]

'NA Fed Sled '

In [32]:
new_lst=[]
for i in range(len(lst)):
    new_lst.append(lst[i].split('[')[0].rstrip(' '))

In [33]:
new_df['RECORDTYPE__C'] = new_lst

C:\Users\DELL\AppData\Local\Temp/ipykernel_8468/2319840564.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['RECORDTYPE__C'] = new_lst

In [34]:
new_df.drop(['COUNTRY_OF_ORDER__C'],axis=1,inplace=True)

c:\users\dell\appdata\local\programs\python\python39\lib\site-packages\pandas\core\frame.py:4901: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [35]:
new_df['REGION__C'].value_counts()

US                636
MED               132
Japan             108
GCG                71
NWE                70
GEMs               63
CEMEA              51
ANZ                48
Canada             44
DACH               42
India              36
CE                 24
UKI                21
Brazil             18
NOLA               13
SOLA               11
ASEAN              10
WEMEA               4
Nordics             4
Mexico              3
CENE                3
India/Pakistan      2
SAC                 2
Germany             2
ALPS                1
Name: REGION__C, dtype: int64

In [36]:
new_df.isnull().sum()

OF_EXPIRING_PRODUCTS__C        0
PRICEBOOK2ID                  57
APTS_ACCOUNT_ELIGIBLE__C       0
NEXT_STEPS_POPULATED__C        0
FULFILLMENTCHANNEL__C          0
PAYMENTTYPE__C                45
RECORDTYPE__C                  0
AMOUNT                        31
REGION__C                    581
STAGENAME                      0
BILLING_AMOUNTMISMATCH__C      0
CLOSE_DATE_MOVED__C            0
dtype: int64

In [37]:
new_df.dtypes

OF_EXPIRING_PRODUCTS__C        int64
PRICEBOOK2ID                  object
APTS_ACCOUNT_ELIGIBLE__C       int32
NEXT_STEPS_POPULATED__C        int32
FULFILLMENTCHANNEL__C         object
PAYMENTTYPE__C                object
RECORDTYPE__C                 object
AMOUNT                       float64
REGION__C                     object
STAGENAME                     object
BILLING_AMOUNTMISMATCH__C      int32
CLOSE_DATE_MOVED__C            int32
dtype: object

In [38]:
new_df.drop(['PRICEBOOK2ID'],axis=1,inplace=True)

In [39]:
new_df.dtypes

OF_EXPIRING_PRODUCTS__C        int64
APTS_ACCOUNT_ELIGIBLE__C       int32
NEXT_STEPS_POPULATED__C        int32
FULFILLMENTCHANNEL__C         object
PAYMENTTYPE__C                object
RECORDTYPE__C                 object
AMOUNT                       float64
REGION__C                     object
STAGENAME                     object
BILLING_AMOUNTMISMATCH__C      int32
CLOSE_DATE_MOVED__C            int32
dtype: object

In [40]:
new_df.PAYMENTTYPE__C.value_counts()

Purchase Order          1060
Channel Fulfillment      363
Credit Card              180
NA Purchase Order        140
Pre-Pay                   90
EMEA Purchase Order       75
APAC Purchase Order       32
LATAM Purchase Order      15
Name: PAYMENTTYPE__C, dtype: int64

In [41]:
new_df['PAYMENTTYPE__C'].fillna(new_df.PAYMENTTYPE__C.mode()[0], inplace=True)

c:\users\dell\appdata\local\programs\python\python39\lib\site-packages\pandas\core\generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [42]:
new_df['REGION__C'].fillna(new_df.REGION__C.mode()[0], inplace=True)

In [43]:
new_df['AMOUNT'].fillna(new_df.AMOUNT.mean(), inplace=True)

In [44]:
new_df.isnull().sum()

OF_EXPIRING_PRODUCTS__C      0
APTS_ACCOUNT_ELIGIBLE__C     0
NEXT_STEPS_POPULATED__C      0
FULFILLMENTCHANNEL__C        0
PAYMENTTYPE__C               0
RECORDTYPE__C                0
AMOUNT                       0
REGION__C                    0
STAGENAME                    0
BILLING_AMOUNTMISMATCH__C    0
CLOSE_DATE_MOVED__C          0
dtype: int64

In [45]:
new_df.dtypes

OF_EXPIRING_PRODUCTS__C        int64
APTS_ACCOUNT_ELIGIBLE__C       int32
NEXT_STEPS_POPULATED__C        int32
FULFILLMENTCHANNEL__C         object
PAYMENTTYPE__C                object
RECORDTYPE__C                 object
AMOUNT                       float64
REGION__C                     object
STAGENAME                     object
BILLING_AMOUNTMISMATCH__C      int32
CLOSE_DATE_MOVED__C            int32
dtype: object

In [46]:
new_df.FULFILLMENTCHANNEL__C.value_counts()

Direct - End Customer                     610
Distributor                               418
Indirect - VAR/VAD                        273
Direct End Customer                       167
Indirect – Webstore                        87
Direct – OEM                               79
Direct - DLT                               73
Webstore                                   67
OEM                                        57
Direct Reseller                            53
Indirect – OEM Preload                     52
Cloud Service Provider                     20
Direct - VAR/VAD                           19
Direct - Carahsoft                         14
Direct - GTSI                               9
Indirect - Internal Commissions Credit      2
Name: FULFILLMENTCHANNEL__C, dtype: int64

In [47]:
new_df.AMOUNT.head()

0    1.060000e+05
1    3.000000e+05
2    1.310819e+06
3    7.059000e+04
4    1.414396e+05
Name: AMOUNT, dtype: float64

In [48]:
new_df.PAYMENTTYPE__C.value_counts()

Purchase Order          1105
Channel Fulfillment      363
Credit Card              180
NA Purchase Order        140
Pre-Pay                   90
EMEA Purchase Order       75
APAC Purchase Order       32
LATAM Purchase Order      15
Name: PAYMENTTYPE__C, dtype: int64

In [49]:
new_df.RECORDTYPE__C.value_counts()

NA Sales Opportunity        704
Renewal                     545
APAC Sales Opportunity      430
EMEA Sales Opportunity      227
LATAM Sales Opportunity      31
NA Fed Sled                  29
Overlay Credit               19
NA Canada Sales               9
Zero Value Opportunity        4
Strategic Accounts Sales      2
Name: RECORDTYPE__C, dtype: int64

In [50]:
new_df.REGION__C.value_counts()

US                1217
MED                132
Japan              108
GCG                 71
NWE                 70
GEMs                63
CEMEA               51
ANZ                 48
Canada              44
DACH                42
India               36
CE                  24
UKI                 21
Brazil              18
NOLA                13
SOLA                11
ASEAN               10
WEMEA                4
Nordics              4
Mexico               3
CENE                 3
India/Pakistan       2
SAC                  2
Germany              2
ALPS                 1
Name: REGION__C, dtype: int64

In [51]:
new_df.STAGENAME.unique()

array(['Closed Lost', 'Closed Won'], dtype=object)

In [52]:
new_df.STAGENAME = new_df.STAGENAME.map({'Closed Lost':0,'Closed Won':1})

c:\users\dell\appdata\local\programs\python\python39\lib\site-packages\pandas\core\generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [53]:
new_df.STAGENAME.unique()

array([0, 1], dtype=int64)

In [54]:
dummy_FULFILLMENTCHANNEL__C = pd.get_dummies(data=new_df.FULFILLMENTCHANNEL__C,drop_first=True)
df = pd.concat([new_df,dummy_FULFILLMENTCHANNEL__C],axis='columns')

In [55]:
df.head()

,OF_EXPIRING_PRODUCTS__C,APTS_ACCOUNT_ELIGIBLE__C,NEXT_STEPS_POPULATED__C,FULFILLMENTCHANNEL__C,PAYMENTTYPE__C,RECORDTYPE__C,AMOUNT,REGION__C,STAGENAME,BILLING_AMOUNTMISMATCH__C,...,Direct End Customer,Direct Reseller,Direct – OEM,Distributor,Indirect - Internal Commissions Credit,Indirect - VAR/VAD,Indirect – OEM Preload,Indirect – Webstore,OEM,Webstore
0,0,1,1,Distributor,Purchase Order,NA Fed Sled,1.060000e+05,US,0,0,...,0,0,0,1,0,0,0,0,0,0
1,0,1,1,Distributor,Purchase Order,NA Fed Sled,3.000000e+05,US,0,0,...,0,0,0,1,0,0,0,0,0,0
2,10,1,1,Distributor,Purchase Order,NA Fed Sled,1.310819e+06,US,0,0,...,0,0,0,1,0,0,0,0,0,0
3,1,1,1,Distributor,Purchase Order,Renewal,7.059000e+04,Japan,0,0,...,0,0,0,1,0,0,0,0,0,0
4,0,1,1,Direct End Customer,Purchase Order,EMEA Sales Opportunity,1.414396e+05,NWE,0,0,...,1,0,0,0,0,0,0,0,0,0

In [56]:
df.drop(['FULFILLMENTCHANNEL__C'],axis=1,inplace=True)

In [57]:
dummy_PAYMENTTYPE__C = pd.get_dummies(data=df.PAYMENTTYPE__C,drop_first=True)
df = pd.concat([df,dummy_PAYMENTTYPE__C],axis='columns')

In [58]:
df.columns

Index(['OF_EXPIRING_PRODUCTS__C', 'APTS_ACCOUNT_ELIGIBLE__C',
       'NEXT_STEPS_POPULATED__C', 'PAYMENTTYPE__C', 'RECORDTYPE__C', 'AMOUNT',
       'REGION__C', 'STAGENAME', 'BILLING_AMOUNTMISMATCH__C',
       'CLOSE_DATE_MOVED__C', 'Direct - Carahsoft', 'Direct - DLT',
       'Direct - End Customer', 'Direct - GTSI', 'Direct - VAR/VAD',
       'Direct End Customer', 'Direct Reseller', 'Direct – OEM', 'Distributor',
       'Indirect - Internal Commissions Credit', 'Indirect - VAR/VAD',
       'Indirect – OEM Preload', 'Indirect – Webstore', 'OEM', 'Webstore',
       'Channel Fulfillment', 'Credit Card', 'EMEA Purchase Order',
       'LATAM Purchase Order', 'NA Purchase Order', 'Pre-Pay',
       'Purchase Order'],
      dtype='object')

In [59]:
df.dtypes

OF_EXPIRING_PRODUCTS__C                     int64
APTS_ACCOUNT_ELIGIBLE__C                    int32
NEXT_STEPS_POPULATED__C                     int32
PAYMENTTYPE__C                             object
RECORDTYPE__C                              object
AMOUNT                                    float64
REGION__C                                  object
STAGENAME                                   int64
BILLING_AMOUNTMISMATCH__C                   int32
CLOSE_DATE_MOVED__C                         int32
Direct - Carahsoft                          uint8
Direct - DLT                                uint8
Direct - End Customer                       uint8
Direct - GTSI                               uint8
Direct - VAR/VAD                            uint8
Direct End Customer                         uint8
Direct Reseller                             uint8
Direct – OEM                                uint8
Distributor                                 uint8
Indirect - Internal Commissions Credit      uint8
Indirect - VAR/VAD                          uint8
Indirect – OEM Preload                      uint8
Indirect – Webstore                         uint8
OEM                                         uint8
Webstore                                    uint8
Channel Fulfillment                         uint8
Credit Card                                 uint8
EMEA Purchase Order                         uint8
LATAM Purchase Order                        uint8
NA Purchase Order                           uint8
Pre-Pay                                     uint8
Purchase Order                              uint8
dtype: object

In [60]:
df.drop(['PAYMENTTYPE__C'],axis=1,inplace=True)

In [61]:
df.RECORDTYPE__C.value_counts()

NA Sales Opportunity        704
Renewal                     545
APAC Sales Opportunity      430
EMEA Sales Opportunity      227
LATAM Sales Opportunity      31
NA Fed Sled                  29
Overlay Credit               19
NA Canada Sales               9
Zero Value Opportunity        4
Strategic Accounts Sales      2
Name: RECORDTYPE__C, dtype: int64

In [62]:
dummy_RECORDTYPE__C = pd.get_dummies(data=df.RECORDTYPE__C,drop_first=True)
df = pd.concat([df,dummy_RECORDTYPE__C],axis='columns')
df.drop(['RECORDTYPE__C'],axis=1,inplace=True)

In [63]:
dummy_REGION__C = pd.get_dummies(data=df.REGION__C,drop_first=True)
df = pd.concat([df,dummy_REGION__C],axis='columns')
df.drop(['REGION__C'],axis=1,inplace=True)

In [64]:
df.columns

Index(['OF_EXPIRING_PRODUCTS__C', 'APTS_ACCOUNT_ELIGIBLE__C',
       'NEXT_STEPS_POPULATED__C', 'AMOUNT', 'STAGENAME',
       'BILLING_AMOUNTMISMATCH__C', 'CLOSE_DATE_MOVED__C',
       'Direct - Carahsoft', 'Direct - DLT', 'Direct - End Customer',
       'Direct - GTSI', 'Direct - VAR/VAD', 'Direct End Customer',
       'Direct Reseller', 'Direct – OEM', 'Distributor',
       'Indirect - Internal Commissions Credit', 'Indirect - VAR/VAD',
       'Indirect – OEM Preload', 'Indirect – Webstore', 'OEM', 'Webstore',
       'Channel Fulfillment', 'Credit Card', 'EMEA Purchase Order',
       'LATAM Purchase Order', 'NA Purchase Order', 'Pre-Pay',
       'Purchase Order', 'EMEA Sales Opportunity', 'LATAM Sales Opportunity',
       'NA Canada Sales', 'NA Fed Sled', 'NA Sales Opportunity',
       'Overlay Credit', 'Renewal', 'Strategic Accounts Sales',
       'Zero Value Opportunity', 'ANZ', 'ASEAN', 'Brazil', 'CE', 'CEMEA',
       'CENE', 'Canada', 'DACH', 'GCG', 'GEMs', 'Germany', 'India',
       'India/Pakistan', 'Japan', 'MED', 'Mexico', 'NOLA', 'NWE', 'Nordics',
       'SAC', 'SOLA', 'UKI', 'US', 'WEMEA'],
      dtype='object')

In [65]:
df.dtypes

OF_EXPIRING_PRODUCTS__C       int64
APTS_ACCOUNT_ELIGIBLE__C      int32
NEXT_STEPS_POPULATED__C       int32
AMOUNT                      float64
STAGENAME                     int64
                             ...
SAC                           uint8
SOLA                          uint8
UKI                           uint8
US                            uint8
WEMEA                         uint8
Length: 62, dtype: object

In [66]:
df.head()

,OF_EXPIRING_PRODUCTS__C,APTS_ACCOUNT_ELIGIBLE__C,NEXT_STEPS_POPULATED__C,AMOUNT,STAGENAME,BILLING_AMOUNTMISMATCH__C,CLOSE_DATE_MOVED__C,Direct - Carahsoft,Direct - DLT,Direct - End Customer,...,MED,Mexico,NOLA,NWE,Nordics,SAC,SOLA,UKI,US,WEMEA
0,0,1,1,1.060000e+05,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,1,1,3.000000e+05,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,10,1,1,1.310819e+06,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,1,1,7.059000e+04,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,1,1.414396e+05,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [67]:
X = df.drop(['STAGENAME'],axis=1)

In [68]:
y = df.STAGENAME

In [69]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: STAGENAME, dtype: int64

In [70]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [71]:
X_test

,OF_EXPIRING_PRODUCTS__C,APTS_ACCOUNT_ELIGIBLE__C,NEXT_STEPS_POPULATED__C,AMOUNT,BILLING_AMOUNTMISMATCH__C,CLOSE_DATE_MOVED__C,Direct - Carahsoft,Direct - DLT,Direct - End Customer,Direct - GTSI,...,MED,Mexico,NOLA,NWE,Nordics,SAC,SOLA,UKI,US,WEMEA
860,0,1,1,1499.00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
353,0,1,1,25030.00,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
333,0,0,1,667.50,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
905,1,0,1,1600.00,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
289,0,1,1,3658.00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,2,1,1,80453.10,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
554,0,1,1,20556.50,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
956,0,1,1,1598.00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
925,9,1,1,226926.12,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
942,1,1,1,52910.00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [72]:
X_test.shape

(600, 61)

In [73]:
X_train.shape

(1400, 61)

In [74]:
y_train.shape

(1400,)

## Random Forest

In [75]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier()
rfc.fit(X_train, y_train)

RandomForestClassifier()

In [76]:
rfc.score(X_test,y_test)

0.9866666666666667

In [77]:
y_test[95:110]

833    1
651    0
233    1
502    1
931    1
916    0
993    0
429    0
370    1
239    0
879    0
620    0
256    0
611    0
544    0
Name: STAGENAME, dtype: int64

In [78]:
y_pred = rfc.predict(X_test)

In [79]:
y_pred[95:110]

array([1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0], dtype=int64)

In [80]:
y_test[95:110]

833    1
651    0
233    1
502    1
931    1
916    0
993    0
429    0
370    1
239    0
879    0
620    0
256    0
611    0
544    0
Name: STAGENAME, dtype: int64

## Decision Tree

In [81]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier()
dtc.fit(X_train, y_train)

DecisionTreeClassifier()

In [82]:
from sklearn.model_selection import cross_val_score

scores = cross_val_score(dtc, X_train, y_train, cv=10)

In [83]:
dtc.score(X_train,y_train)

1.0

In [84]:
dtc.score(X_test,y_test)

0.9783333333333334

In [85]:
y_pred = dtc.predict(X_test)

In [86]:
y_pred[0:10]

array([1, 0, 1, 0, 1, 1, 0, 1, 0, 1], dtype=int64)

In [87]:
y_test[0:10]

860    1
353    0
333    1
905    0
289    1
273    1
938    0
731    1
65     0
323    1
Name: STAGENAME, dtype: int64

In [88]:
#import pickle
#pickle.dump(dtc, open('Model.pkl','wb'))

In [89]:
X_test.columns

Index(['OF_EXPIRING_PRODUCTS__C', 'APTS_ACCOUNT_ELIGIBLE__C',
       'NEXT_STEPS_POPULATED__C', 'AMOUNT', 'BILLING_AMOUNTMISMATCH__C',
       'CLOSE_DATE_MOVED__C', 'Direct - Carahsoft', 'Direct - DLT',
       'Direct - End Customer', 'Direct - GTSI', 'Direct - VAR/VAD',
       'Direct End Customer', 'Direct Reseller', 'Direct – OEM', 'Distributor',
       'Indirect - Internal Commissions Credit', 'Indirect - VAR/VAD',
       'Indirect – OEM Preload', 'Indirect – Webstore', 'OEM', 'Webstore',
       'Channel Fulfillment', 'Credit Card', 'EMEA Purchase Order',
       'LATAM Purchase Order', 'NA Purchase Order', 'Pre-Pay',
       'Purchase Order', 'EMEA Sales Opportunity', 'LATAM Sales Opportunity',
       'NA Canada Sales', 'NA Fed Sled', 'NA Sales Opportunity',
       'Overlay Credit', 'Renewal', 'Strategic Accounts Sales',
       'Zero Value Opportunity', 'ANZ', 'ASEAN', 'Brazil', 'CE', 'CEMEA',
       'CENE', 'Canada', 'DACH', 'GCG', 'GEMs', 'Germany', 'India',
       'India/Pakistan', 'Japan', 'MED', 'Mexico', 'NOLA', 'NWE', 'Nordics',
       'SAC', 'SOLA', 'UKI', 'US', 'WEMEA'],
      dtype='object')

In [90]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 600 entries, 860 to 942
Data columns (total 61 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   OF_EXPIRING_PRODUCTS__C                 600 non-null    int64
 1   APTS_ACCOUNT_ELIGIBLE__C                600 non-null    int32
 2   NEXT_STEPS_POPULATED__C                 600 non-null    int32
 3   AMOUNT                                  600 non-null    float64
 4   BILLING_AMOUNTMISMATCH__C               600 non-null    int32
 5   CLOSE_DATE_MOVED__C                     600 non-null    int32
 6   Direct - Carahsoft                      600 non-null    uint8
 7   Direct - DLT                            600 non-null    uint8
 8   Direct - End Customer                   600 non-null    uint8
 9   Direct - GTSI                           600 non-null    uint8
 10  Direct - VAR/VAD                        600 non-null    uint8
 11  Direct End Customer                     600 non-null    uint8
 12  Direct Reseller                         600 non-null    uint8
 13  Direct – OEM                            600 non-null    uint8
 14  Distributor                             600 non-null    uint8
 15  Indirect - Internal Commissions Credit  600 non-null    uint8
 16  Indirect - VAR/VAD                      600 non-null    uint8
 17  Indirect – OEM Preload                  600 non-null    uint8
 18  Indirect – Webstore                     600 non-null    uint8
 19  OEM                                     600 non-null    uint8
 20  Webstore                                600 non-null    uint8
 21  Channel Fulfillment                     600 non-null    uint8
 22  Credit Card                             600 non-null    uint8
 23  EMEA Purchase Order                     600 non-null    uint8
 24  LATAM Purchase Order                    600 non-null    uint8
 25  NA Purchase Order                       600 non-null    uint8
 26  Pre-Pay                                 600 non-null    uint8
 27  Purchase Order                          600 non-null    uint8
 28  EMEA Sales Opportunity                  600 non-null    uint8
 29  LATAM Sales Opportunity                 600 non-null    uint8
 30  NA Canada Sales                         600 non-null    uint8
 31  NA Fed Sled                             600 non-null    uint8
 32  NA Sales Opportunity                    600 non-null    uint8
 33  Overlay Credit                          600 non-null    uint8
 34  Renewal                                 600 non-null    uint8
 35  Strategic Accounts Sales                600 non-null    uint8
 36  Zero Value Opportunity                  600 non-null    uint8
 37  ANZ                                     600 non-null    uint8
 38  ASEAN                                   600 non-null    uint8
 39  Brazil                                  600 non-null    uint8
 40  CE                                      600 non-null    uint8
 41  CEMEA                                   600 non-null    uint8
 42  CENE                                    600 non-null    uint8
 43  Canada                                  600 non-null    uint8
 44  DACH                                    600 non-null    uint8
 45  GCG                                     600 non-null    uint8
 46  GEMs                                    600 non-null    uint8
 47  Germany                                 600 non-null    uint8
 48  India                                   600 non-null    uint8
 49  India/Pakistan                          600 non-null    uint8
 50  Japan                                   600 non-null    uint8
 51  MED                                     600 non-null    uint8
 52  Mexico                                  600 non-null    uint8
 53  NOLA                                    600 non-null    uint8
 54  NWE                                     600 non-null    uint8
 55  Nordics                                 600 non-null    uint8
 56  SAC                                     600 non-null    uint8
 57  SOLA                                    600 non-null    uint8
 58  UKI                                     600 non-null    uint8
 59  US                                      600 non-null    uint8
 60  WEMEA                                   600 non-null    uint8
dtypes: float64(1), int32(4), int64(1), uint8(55)
memory usage: 55.7 KB

In [93]:
df.iloc[859:861]

,OF_EXPIRING_PRODUCTS__C,APTS_ACCOUNT_ELIGIBLE__C,NEXT_STEPS_POPULATED__C,AMOUNT,STAGENAME,BILLING_AMOUNTMISMATCH__C,CLOSE_DATE_MOVED__C,Direct - Carahsoft,Direct - DLT,Direct - End Customer,...,MED,Mexico,NOLA,NWE,Nordics,SAC,SOLA,UKI,US,WEMEA
859,1,1,1,423.89,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
860,1,1,1,3595.50,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0